# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/

# IDE / Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints (if you use notebooks)
.ipynb_checkpoints/

# Temporary files
*.tmp
*.temp
*.venv
*.env